.wp-cli-console {
	z-index: 9999;
	position: fixed;
	bottom: 0;
	width: calc(100% - 162px);
	margin-left: 160px;
	border-left: 1px solid;
	border-right: 1px solid;
}

.folded .wp-cli-console {
	margin-left:36px;
	width: calc(100% - 38px);
}

@media only screen and (max-width: 960px) {
	.auto-fold .wp-cli-console {
		margin-left:36px;
		width: calc(100% - 38px);
	}	
}

@media only screen and (max-width: 768px) {
	.auto-fold .wp-cli-console {
		margin-left:0px;
		width: 100%;
	}	
}

.wp-cli-console .wp-cli-cmd-input {
	width: 100%;
	border-color: transparent;
	background-color: rgba(255,255,255,.9);
}

.wp-cli-console-close {
	width: 1em;
	text-align: center;
	cursor: pointer;
}

.wp-cli-console-title {
    width: calc(100% - 1.6em);
}

.wp-cli-console-title-wrap > span {
	display: inline-block;
	vertical-align: middle;
}

.wp-cli-console .wp-cli-cmd-input:focus {
	border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wp-cli-console-title-wrap {
	padding: .2em .5em .5em;
}

.wp-cli-console-output {
	min-height: 50px;
	height: 120px;
	overflow: auto;
}

.wp-cli-console-output pre {
	margin: 0 auto;
	padding: 0.25em .5em;
}

.wp-cli-input-spinner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 27px;
    display: none;
}

.wp-cmd-exicuting .wp-cli-input-spinner {
    display: block;
}

#wp-admin-bar-wp_cli_link {
	cursor: pointer;
}

#wp-cli-drag-bar {
	width: 100%;
	height: 2px;
	cursor: row-resize;
	opacity: 0.5;
}

#wp-cli-ghost-bar {
    height: 2px;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    cursor: row-resize;
    z-index: 9999;
}

.wp-cli-command {
    margin: 0 auto;
    padding: 0.25em .5em;
    font-weight: bold;
}